{% extends "_base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
{% include "_snippets/_intro_section.html" %}


<section class="py-10 bg-body" x-data="{ selected: 'all', year: '' }">
    <div class="w-2/3 mx-auto ">


        <select class="py-2 px-4 bg-secondary text-white text-xl mr-5" name="project_category"
            x-on:change="selected = $el.value">
            <option selected disabled>Project Category</option>
            <option value="all" x-on:click="selected = 'all'">All Projects</option>
            {% for category in project_categories %}
            <option value="{{category}}" x-on:click="selected = '{{category}}'">{{category}}</option>
            {% endfor %}
        </select>

        <select class="py-2 px-4 bg-secondary text-white text-xl" name="project_year"
            x-on:change="year = $el.value">
            <option selected disabled>Year Published</option>
            <option value="">All Years</option>
            {% for year in project_years %}
            <option value="{{year.date.year}}" x-on:click="year = '{{year.date.year}}'">{{year.date.year}}</option>
            {% endfor %}
        </select>
        <div class="grid grid-cols-3 gap-5 pt-10 pb-40">
            {% for project in projectpages %}

                <div class="text-left mt-10" x-transition:enter="transition ease-out duration-300" x-show="(selected === '{{ project.specific.category }}' && (year === '{{ project.specific.date.year }}' || year === '')) || (selected === 'all' && (year === '{{ project.specific.date.year }}' || year === ''))"
                    x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100">
                    <div class="">
                        {% image project.specific.banner original as banner %}
                        <div class="h-[265px]">
                            <a href="{% pageurl project %}">
                                <img src="{{ banner.url }}" alt=""
                                    class="h-full w-full border-[1px] rounded border-[#b9b9b9]">
                            </a>
                        </div>

                        <div class="">
                            <h4 class="font-normal">{{ project.title | truncatewords:10 }}</h4>
                            <div class="flex flex-wrap justify-start gap-2 items-center mb-5">
                                <small class="px-2 py-1 bg-secondary text-white rounded">{{ project.specific.status }}</small>
                                {% for tag in project.specific.tags.all %}
                                <small class="px-2 py-1 bg-slate-200 text-text-75 rounded">{{ tag }}</small>
                                {% endfor %}
                            </div>
                            <small>{{ project.specific.intro | truncatewords:20 }}</small>

                            <div class="my-5">
                                
                            </div>


                            <div class="mt-5">
                                <a href="{% pageurl project %}" class="text-blue-400 font-normal rounded-full hover:underline">
                                    View Project
                                    <span class="iconify ml-1 mb-1 inline w-5 h-5" data-icon="charm:arrow-right"></span>
                                </a>
                            </div>

                        </div>

                    </div>

            </div>

            {% endfor %}
        </div>



    </div>
</section>


{% endblock %}