<div class="text-left rounded-lg flex flex-col items-start justify-start gap-10" x-show="selected === 'patents'"
    x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90"
    x-transition:enter-end="opacity-100 scale-100">
    {% for patent in patents %}
    <div class="p-10 pb-10 bg-white border-[1px] shadow-md w-full rounded">
        <h5 class=" font-semibold m-0">{{ patent.title }}</h5>
        <small class="">{{ patent.date|date:"M, Y" }}</small>
        <div class="py-5">
            <small class="px-4 py-2 bg-slate-200 text-text-100">{{ patent.status|title }}</small>
        </div>
        <div class="my-3">
            <p class="m-0"><b>Inventors</b></p>
            <p class="m-0 text-gray-500">
                {% for inv in patent.center_inventors.all %}
                <i>{{ inv }}</i>,
                {% endfor %}

                {% for inv in patent.external_inventors.all %}
                {{ inv }}
                {{ forloop.last|yesno:",&#44;"|safe }}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}

</div>