
{% for publ in publications %}
<div class="p-10 my-5 pb-10 gradient-box shadow-md w-full text-white rounded">
    <h5 class="font-semibold m-0 text-white">{{ publ.title }}
    </h5>
    <small class="text-white">{{ publ.date|date:"M, Y" }}</small>
    <div class="py-5">
        <small class="px-4 py-2 bg-slate-200 text-text-100">{{ publ.publication_category|title }}</small>
    </div>
    <div class="my-3">
        <p class="m-0 text-white"><b>Authors</b></p>
        <p class="m-0 text-gray-200">
            {% for center_authors in publ.center_authors.all %}
            <i>{{ center_authors }}</i>,
            {% endfor %}

            {% for ext_authors in publ.external_authors.all %}
            {{ ext_authors }}
            {{ forloop.last|yesno:",&#44;"|safe }}
            {% endfor %}
        </p>
    </div>
    <div class="my-3">
        <p class="m-0 text-white"><b>Publication details</b></p>
        <p class="text-gray-200">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam sunt fugiat atque dolorum
            eaque, sed vel ratione tempore quod a.
        </p>
    </div>
    <div class="mt-10">
        <a href="{{ publ.link }}" class="py-3 px-6 gradient-text-box shadow-md text-white rounded-full">
            Publication link
            <span class="iconify ml-1 mb-1 inline w-5 h-5" data-icon="charm:arrow-right"></span>
        </a>
    </div>
</div>
{% endfor %}