{% extends "_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<section class="py-[4%] bg-home">
    <div class="w-2/3 mx-auto grid grid-cols-2 gap-32">
        {% image page.banner original as banner %}
        <div class="h-[300px] flex justify-center">
            <img src="{{ banner.url }}" alt="" class="w-auto h-full rounded-md">
        </div>
        <div class="w-full px-10 md:px-0 mx-auto">
            <h1 class="text-secondary font-semibold">{{ page.title }}</h1>
            <p class="w-full text-secondary">{{ page.intro }}</p>
        </div>
    </div>

</section>
<section class="pt-5 bg-body-2 pb-20">

    <div class="grid grid-cols-4 mt-10 w-2/3 mx-auto">
        <div class="bg-white p-10 shadow-md rounded w-full lg:w-4/5 col-span-3">
                <p>{{ page.intro }}</p>

            <div class="rich-text">
                {{ page.description|richtext }}
            </div>

        </div>

        <aside class="bg-white p-10 shadow-md rounded h-fit">
            <h3 class="mt-0 mb-3">Contributors</h3>
                {% for contrib in page.contributors.all %}
                <div class="flex items-center justify-start gap-2">
                    <p><span class="iconify" data-icon="dashicons:arrow-right"></span></p>
                    <p>{{ contrib }}</p>
                </div>
                    
                {% endfor %}
            </ul>

        </aside>

    </div>
</section>

{% endblock %}