{% extends "_base.html" %}

{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
{% include "_snippets/_intro_section.html" %}

<section class="py-10">
    <div class="w-2/3 mx-auto">
        <div class="rich-text">
            {{ page.body|richtext }}
        </div>
    </div>
</section>

{#<section class="w-2/3 mx-auto">#}
{#    <div#}
{#    class="text-center sm:text-left before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:bg-[#313C71]">#}
{#    <h3 class="text-3xl font-semibold">TEAM</h3>#}
{#    <span class="text-sm font-bold tracking-wider uppercase text-gray-400">Meet the team members</span>#}
{#  </div>#}
{##}
{#    {% regroup team by category as category_list %}#}
{#    #}
{#    {% for category in category_list %}#}
{#    <!-- <h4>{{ category.grouper }}</h4> -->#}
{#    <h5 class="text-primary font-bold m-0">{{ category.grouper }}</h5>#}
{#    <div class="my-20 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-20">#}
{#        {% for member in category.list %}#}
{#            <div class="text-center">#}
{#                {% image member.image fill-200x200 as image %}#}
{#                <img src="{{ image.url }}" alt="" class="rounded-full w-full h-auto">#}
{#                <div class="flex justify-center items-center gap-5 my-5">#}
{#                    {% if member.linkedin_link %}#}
{#                    <a href="{{ member.linkedin_link }}"><span class="iconify text-[#0A66C2] h-8 w-8" data-icon="akar-icons:linkedin-box-fill"></span></a>#}
{#                    {% endif %}#}
{#                    {% if member.google_scholar_link %}#}
{#                    <a href="{{ member.google_scholar_link }}"><span class="iconify text-[#3C44C2] h-8 w-8" data-icon="academicons:google-scholar-square"></span></a>#}
{#                    {% endif %}#}
{#                    {% if member.pes_faculty_profile_link %}#}
{#                    <a href="{{ member.pes_faculty_profile_link }}">#}
{#                        <img src="{% static 'images/pes.png' %}" class="h-8 w-auto" alt="PES">#}
{#                    </a>#}
{#                    {% endif %}#}
{#                </div>#}
{#                <h4 class="mt-5 mb-0 font-semibold ">{{ member.name }}</h4>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{##}
{#    {% endfor %}#}
{##}
{##}
{##}
{#</section>#}


{% endblock %}
