{% extends "_base.html" %}
{% load tailwind_filters %}

{% load wagtailcore_tags %}

{% block content %}

<section class="bg-darkBg flex flex-col justify-start items-start py-[10%]">
    <div class="w-4/5 mx-auto">

        <h4 class="text-primary font-bold">{{ page.title }}</h4>
        <h1 class="text-white">{{ page.intro }}</h1>
        <div id="submission">
        </div>
    </div>
    <div class="bg-white w-4/5 mx-auto grid grid-cols-2 shadow-md my-5">
        <div class="p-10 flex flex-col items-start justify-center">

            <form class="w-full custom-form" hx-post="{% pageurl page %}" hx-swap="outerHTML">
                <h2 class="mb-10">Write to Us</h2>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit"
                    class="mt-10 text-white bg-secondary md:flex justify-around items-center py-2 px-4 text-2xl rounded">Submit</button>
            </form>

        </div>
        <div class="p-10 bg-body">
            <div class="rich-text text-white">
                {{ page.general_information|richtext }}
            </p>
        </div>

    </div>
</section>
<section class="bg-body">

</section>


{% endblock %}
