{% extends "_base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block content %}
<!-- <div id="particles-js" class="h-[50vh] w-full absolute"></div> -->
<section class="bg-home lg:text-left">
  <div class="w-full px-5 lg:px-0 lg:w-4/5 mx-auto pb-[5%] pt-[5%] gap-10 xl:grid xl:grid-cols-4">
    <div class="col-span-2">
      <h1 class="font-bold text-secondary text-5xl leading-relaxed">Center for Robotics, Automation and Intelligent
        Systems
      </h1>
      <p class="w-full lg:w-2/3 text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat a
        dolore iusto
        totam
        similique! Ea maxime labore aliquam voluptas explicabo, esse voluptatum voluptatibus nisi harum.</p>

      <div class="flex flex-col md:flex-row justify-start gap-10 items-center">
        <div class="flex items-center justify-start gap-5">
          <div class="flex justify-center items-center">
            <span class="text-secondary iconify h-12 w-12 p-0 m-0 " data-icon="octicon:project-24"></span>
          </div>
          <div class="flex flex-col justify-center items-start">
            <h2 class="mb-0 text-secondary font-bold">21</h2>
            <h5 class="mt-0 font-normal text-secondary">Projects</h5>
          </div>


        </div>
        <div class="flex items-center justify-start gap-5">
          <div class="flex justify-center items-center">
            <span class="text-secondary iconify h-12 w-12 p-0 m-0 " data-icon="file-icons:electron"></span>
          </div>
          <div class="flex flex-col justify-center items-start">

            <h2 class="mb-0 text-secondary font-bold">8</h2>
            <h5 class="mt-0 font-normal text-secondary">Publications</h5>
          </div>
        </div>
        <div class="flex items-center justify-start gap-5">
          <div class="flex justify-center items-start">
            <span class="text-secondary iconify h-12 w-12 p-0 m-0 " data-icon="clarity:employee-group-line"></span>
          </div>
          <div class="flex flex-col justify-center items-start">

            <h2 class="mb-0 text-secondary font-bold">28</h2>
            <h5 class="mt-0 text-secondary font-normal">Internships </h5>
          </div>
        </div>
      </div>


      <div class="my-20">

        <a href="{% slugurl 'about-us' %}"
          class="font-bold uppercase border-2 border-secondary text-md py-3 px-6 text-secondary rounded-full hover:bg-secondary hover:text-white ease-in duration-100">
          About Us
          <span class="iconify ml-1 mb-1 inline w-5 h-5" data-icon="charm:arrow-right"></span>
        </a>
      </div>
    </div>
    <div class="col-span-2 w-full flex flex-col gap-10 justify-center items-start lg:items-end">
      <div class="bg-white px-5 py-2 shadow-lg rounded-md relative">
        <h4 class="font-bold text-secondary">Featured News</h4>
        <div class="overflow-y-scroll h-[300px] lg:h-[200px] bg-body-2 rounded p-5">
          {% for news in featured_news %}
          <a href="{% slugurl 'news' %}#{{ news.slug }}">
            <p class="hover:text-blue-400 cursor-pointer hover:underline mb-1 p-0">
              <span class="iconify ml-1 mb-1 inline w-4 h-4" data-icon="charm:arrow-right"></span> <span
                class="w-fit text-[16px] m-0 p-0">{{ news.title | truncatewords:10 }}</span>
            </p>
          </a>
          {% endfor %}

        </div>
        <div class="my-5">
          <a href="{% slugurl 'news' %}" class="text-secondary text-md hover:text-blue-500">
            All News
            <span class="iconify ml-1 mb-1 inline w-4 h-4" data-icon="charm:arrow-right"></span>
          </a>
        </div>
      </div>

    </div>


  </div>


</section>

<section id="home-about" class=" bg-body-2 py-20">

  <div class="w-full lg:w-4/5 mx-auto grid grid-cols-1 xl:grid-cols-2 gap-20">

    <div class="lg:px-0 px-10">
      <div
        class="text-center sm:text-left before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:bg-[#313C71]">
        <h3 class="text-3xl font-semibold">{{ page.about_us_title }}</h3>
        <span class="text-sm font-bold tracking-wider uppercase text-gray-400">{{ page.about_us_tagline }}</span>
      </div>
      <div class="w-full my-10">
        <div class="rich-text w-full">
          {{ page.about_us_body|richtext }}
        </div>

      </div>

    </div>
    {% image page.about_us_image original as image_1 %}
    <div class="h-full">
      <img src="{{ image_1.url }}"
        class="max-h-full w-full object-cover border-[1px] rounded border-[#b9b9b9] shadow-md" alt="">
    </div>

  </div>


</section>
<section class="py-10 bg-body">

  <div class="w-[90%] lg:w-4/5 mx-auto text-center">
    <div
      class="mt-5 text-center sm:text-left before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:bg-[#313C71]">
      <h3 class="text-3xl font-semibold">Featured Projects</h3>
      <span class="text-sm font-bold tracking-wider uppercase text-gray-400">Check out our latest projects</span>
    </div>
    <div class="hidden lg:flex w-full justify-between items-center translate-y-[30vh]">
      <button id="prev" class="nav-btn translate-x-[-140px]">&#10094;</button>
      <button id="next" class="nav-btn translate-x-[140px]">&#10095;</button>
    </div>
    <div id="slideshow">

      <div id="slideshow-wrapper">

        {% for project in featured_projects %}
        <div class="text-left rounded-lg slide w-full">
          {% image project.banner original as banner %}
          <div class="h-[265px] w-[400px]">
            <img src="{{ banner.url }}" alt="" class="h-full w-full border-[1px] rounded border-[#b9b9b9]">
          </div>

          <div class="">`
            <h4 class="font-normal">{{ project.title| truncatewords:10 }}</h4>
            <div class="flex flex-wrap justify-start gap-2 items-center mb-5">
              <small class="px-2 py-1 bg-secondary text-white rounded">{{ project.status }}</small>
              {% for tag in project.specific.tags.all %}
              <small class="px-2 py-1 bg-slate-200 text-text-75 rounded">{{ tag }}</small>
              {% endfor %}
            </div>

            <small>{{ project.specific.intro | truncatewords:10 }}</small>

            <div class="mt-5">
              <a href="{% pageurl project %}" class="text-blue-400 rounded-full">
                View Project
                <span class="iconify ml-1 mb-1 inline w-5 h-5" data-icon="charm:arrow-right"></span>
              </a>
            </div>

          </div>

        </div>
        {% endfor %}

      </div>

    </div>


  </div>
</section>


<section class="py-10 bg-body">


  <div class="w-[90%] lg:w-4/5 mx-auto text-center">
    <div
      class="my-5 text-center sm:text-left before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:bg-[#313C71]">
      <h3 class="text-3xl font-semibold">Recent Events</h3>
      <span class="text-sm font-bold tracking-wider uppercase text-gray-400">Checkout our past
        events.</span>
    </div>


    <div class="flex flex-wrap justify-start items-start gap-10 my-10 rounded">

      {% for event in featured_events %}
      <div class="text-left" x-transition:enter="transition ease-out duration-300"
        x-show="year === '{{ event.specific.date.year }}' || year === ''" x-transition:enter-start="opacity-0 scale-90"
        x-transition:enter-end="opacity-100 scale-100">
        <div class="w-full md:w-[420px]">
          {% image event.specific.banner original as banner %}
          <div class="h-[265px] w-full md:w-[420px]">
            <a href="{% pageurl event %}" class="">
              <img src="{{ banner.url }}" alt="" class="h-full w-full border-[1px] rounded border-[#b9b9b9]">
            </a>
          </div>

          <div class="">
            <h4 class="font-semibold">{{ event.title | truncatewords:10 }}</h4>
            <div class="my-5">
              <small class="px-2 py-1 bg-secondary text-white rounded uppercase">{{ event.specific.get_status }}</small>
            </div>
            <small>{{ event.specific.intro | truncatewords:10 }}</small>




            <div class="mt-5">
              <a href="{% pageurl event %}" class="text-blue-400 rounded-full">
                View Event
                <span class="iconify ml-1 mb-1 inline w-5 h-5" data-icon="charm:arrow-right"></span>
              </a>
            </div>

          </div>

        </div>

      </div>


      {% endfor %}

    </div>

  </div>

  </div>
</section>




<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
  let xTransformed = 0
  const toTranslateX = 420
  const step = 3
  const wrapper = document.getElementById("slideshow-wrapper")
  const next = document.getElementById("next")
  const prev = document.getElementById("prev")
  const slideshow = document.getElementById("slideshow")

  slideshow.style.width = `100%`
  wrapper.style.width = `${toTranslateX * wrapper.childElementCount}px`

  const xTransformedMax = toTranslateX * (wrapper.childElementCount - 1)

  const checkBtns = () => {
    prev.disabled = !Boolean(xTransformed)
    console.log(xTransformed, xTransformedMax)
    next.disabled = Math.abs(xTransformed - (toTranslateX * step)) > xTransformedMax ? true : false
  }


  next.addEventListener("click", e => {
    xTransformed -= toTranslateX
    wrapper.style.transform = `translateX(${xTransformed}px)`
    checkBtns()
  })

  prev.addEventListener("click", e => {
    xTransformed += toTranslateX
    wrapper.style.transform = `translateX(${xTransformed}px)`
    checkBtns()
  })

  checkBtns()

</script>

{% endblock content %}