{% extends "_base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block content %}
    <main class="w-4/5 mx-auto grid md:grid-cols-3 my-24 gap-10">
        <div class="md:col-span-2">
            <h5 class="font-medium text-secondary">Center for Robotics, Automation and Intelligent Systems</h5>
            <h1 class="text-primary font-black inline">{{ page.title_part_1 }} </h1>
            <h1 class="text-secondary font-black inline">{{ page.title_part_2 }}</h1>
            <p class="w-full md:w-2/3 my-10">
                {{ page.landing_page_paragraph }}
            </p>
            <div class="flex justify-start items-center gap-10">
                <a href="#" class="text-primary font-bold hover:text-secondary">Research -></a>
                <a href="#" class="text-primary font-bold hover:text-secondary">Projects -></a>
                <a href="#" class="text-primary font-bold hover:text-secondary">Courses -></a>
                <a href="#" class="text-primary font-bold hover:text-secondary">News -></a>
            </div>
        </div>
        <div class="bg-black">
            something else here!
        </div>
    </main>
    <section class="bg-background-light py-20">
        <div class="w-4/5 mx-auto grid gap-20 md:gap-10 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
            {% for item in page.featured.all %}
                <div class="flex flex-col justify-start items-start">
                    <div class="shadow-md rounded overflow-hidden">
                        {% image item.image width-400 format-webp as item_image %}
                        <img src="{{ item_image.url }}" alt="">
                    </div>
                    <h4 class="text-primary font-medium my-5">{{ item.title }}</h4>
                    <a href="{{ item.link }}"
                       class="rounded text-secondary px-4 py-2 bg-primary border-2 border-primary hover:bg-white hover:text-primary duration-200 ease-in">Read
                        More -></a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="w-4/5 mx-auto my-40">
        <h5 class="text-secondary font-bold">Our Work</h5>
        <h2 class="text-primary font-bold">At our university, we are pioneering the future of robotics and
            automation.</h2>
        <div class="my-20 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10 md:gap-20">
            {% for item in page.our_work.all %}
                <div class="">
                    <h4 class="text-primary font-bold border-b-4 border-secondary w-fit mb-5">{{ item.title }}</h4>
                    <p class="w-full">{{ item.short_description }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="w-4/5 mx-auto my-40">
        <h5 class="text-secondary font-bold">Industry Collaborations</h5>
        <h2 class="text-primary font-bold">Showcasing a few of our Industry Partnerships.</h2>
        <div class="my-20 flex justify-start items-center gap-20 flex-wrap">
            {% for item in page.collaborations.all %}
                <a href="{{ item.collaborator_link }}">
                    {% image item.collaborator_logo width-200 format-webp as logo %}
                    {% if item.dark_background %}
                        <div class="bg-black px-4 py-2">
                            <img src="{{ logo.url }}" alt="">
                        </div>
                    {% else %}
                        <img src="{{ logo.url }}" alt="">
                    {% endif %}
                </a>

            {% endfor %}
        </div>
    </section>
{% endblock %}
