.rich-text h2 {
    color: #10183E;
}
.rich-text h3 {
    color: #10183E;
}
.rich-text h4 {
    color: #10183E;
    margin-bottom: 4rem;
}


.rich-text p {
    margin-bottom: 2rem;
}

.rich-text ul {
    list-style: inherit;
}

.rich-text ol {
    list-style: decimal;
}

.rich-text ul,
.rich-text ol {
    margin: 1rem 2rem;
}


.rich-text img {
    margin: 50px 0;
    border-radius: 3px;
    width: 100%;
}

.rich-text iframe {
    margin: 50px 0;
    height: 500px;
    width: 80%;
    border-radius: 4px;
    border: 1px rgb(189, 189, 189) solid;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.rich-text a {
    color: #4778ff;
}
