{% extends "_base.html" %}
{% load static %}
{% block content %}
    <main class="w-3/5 mx-auto my-24" x-data="{type: 'all', year: '0'}">
        <h1 class="font-black text-primary">Patents</h1>
        <div class="my-10 flex justify-start items-center gap-5">
            <button class="px-4 py-2 border-2 border-primary text-primary rounded" x-on:click="type='all'"
                    x-bind:class="{'bg-primary text-white': type==='all'}">All
            </button>
            <button class="px-4 py-2 border-2 border-primary text-primary rounded" x-on:click="type='filed'"
                    x-bind:class="{'bg-primary text-white': type==='filed'}">Filed
            </button>
            <button class="px-4 py-2 border-2 border-primary text-primary rounded" x-on:click="type='published'"
                    x-bind:class="{'bg-primary text-white': type==='published'}">Published
            </button>
            <button class="px-4 py-2 border-2 border-primary text-primary rounded" x-on:click="type='granted'"
                    x-bind:class="{'bg-primary text-white': type==='granted'}">Granted
            </button>
        </div>
        <div class="w-fit pr-4 border-2 border-primary rounded">
            <select x-model="year" class="pl-4 py-2 pr-20 focus:outline-none" name="" id="">
                <option value="" selected disabled>Patent Filed Year</option>
                <option value="0">All</option>
                {% for year in filed_years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="my-20">
            {% for patent in object_list %}
                <div x-show="((type === 'all' || type === '{{ patent.status|lower }}') && (year === '0' || year === '{{ patent.date_filed.year }}'))"
                     class="w-full grid grid-cols-6" x-transition:enter="transition ease-out duration-300"
                     x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100">
                    <h4 class="font-medium col-span-1">{{ forloop.counter }}</h4>
                    <div class="border-b-2 border-background-light pb-10 col-span-5">
                        <h4 class="font-semibold">{{ patent.title }}</h4>
                        <div class="my-3">
                            <p class="m-0 text-gray-500">
                                {% for center_inventors in patent.center_inventors.all %}
                                    <a href="#" class="underline text-a-blue">{{ center_inventors|title }}</a>;
                                {% endfor %}

                                {% for ext_inventors in patent.external_inventors.all %}
                                    {{ ext_inventors|title }};
                                {% endfor %}
                            </p>
                        </div>
                        <div class="flex justify-between items-center">
                            <div class="flex justify-start items-center gap-2">
                                <p class="w-fit px-4 py-2 border-2 border-primary text-primary rounded text-primary">{{ patent.status }}</p>
                                <p class="w-fit px-4 py-2 text-primary rounded bg-background-light text-primary">
                                    Filed: {{ patent.date_filed.year }}</p>
                                {% if patent.date_granted %}
                                    <p class="w-fit px-4 py-2 text-primary rounded bg-primary text-white">
                                        Granted: {{ patent.date_filed.year }}</p>
                                {% endif %}
                            </div>
                            {% if patent.link %}
                                <a href="{{ patent.link }}"
                                   class="shadow-md w-fit px-4 py-2 text-white rounded bg-primary hover:text-secondary">View
                                    Patent ->
                                </a>
                            {% endif %}

                        </div>

                    </div>
                </div>

            {% endfor %}
        </div>
    </main>
{% endblock %}
