<!-- <footer class="text-center p-10 bg-[#494949] flex flex-col justify-center items-center">
    <div class="border-b-2 border-[#555555] w-2/3 mx-auto py-5">

        <div class="flex justify-center items-center gap-10">
            <p class="text-white">Home</p>
            <p class="text-white">About</p>
            <p class="text-white">Research</p>
            <p class="text-white">Projects</p>
            <p class="text-white">Courses</p>
            <p class="text-white">Events</p>
            <p class="text-white">Contact</p>
        </div>
    </div>
    <div class="flex justify-around items-center w-full pt-10">

        <div>
            <p class="m-0 text-white">Copyright © 2022 - All right reserved by CRAIS PES University</p>
        </div>
        <div>
            <div class="flex justify-center items-center gap-5 my-5">
                <span class="iconify text-white h-8 w-8" data-icon="akar-icons:linkedin-box-fill"></span>
                <span class="iconify text-white h-8 w-8" data-icon="academicons:google-scholar-square"></span>
                <span class="iconify text-white h-8 w-8" data-icon="akar-icons:linkedin-box-fill"></span>
                <span class="iconify text-white h-8 w-8" data-icon="academicons:google-scholar-square"></span>
            </div>
        </div>
    </div>
</footer> -->

<footer class="bg-[#333333] flex justify-center items-center p-5 w-full">
    <p class="m-0 text-white">
        Copyright &copy; 2022 cRAIS PESU.
    </p>
</footer>