{% extends "_base.html" %}
{% load static %}

{% block content %}
<div id="particles-js" class="h-[50vh] w-full absolute z-[-1]"></div>
<section class="z-1">
  <div class="w-3/5 mx-auto text-center py-[9%]">
    <h1 class="font-semibold">
      <span class="gradient-text">C</span>enter for <span class="gradient-text">R</span>obotics, <span
        class="gradient-text">A</span>utomation and <span class="gradient-text">I</span>ntelligent <span
        class="gradient-text">S</span>ystems
    </h1>
    <p>of PES University</p>
    <div class="mt-10">

      <a href="" class="text-2xl py-3 px-6 gradient-box text-white rounded-full">
        About Us
        <span class="iconify ml-1 mb-1 inline w-5 h-5" data-icon="charm:arrow-right"></span>
      </a>
    </div>
  </div>


</section>

<section class="py-10 bg-body-2">

  <div class="gradient-box w-2/3 mx-auto p-10 flex items-center justify-around translate-y-[-8rem] rounded">
    <div class="flex flex-col items-center justify-around">
      <h1 class="gradient-text font-bold text-5xl">61</h1>
      <div>
        <span class="iconify h-20 w-20 p-0 m-0 text-white" data-icon="octicon:project-24"></span>
      </div>
      <h3 class="text-white font-semibold gradient-text">Projects</h3>
    </div>
    <div class="flex flex-col items-center justify-around">
      <h1 class="gradient-text font-bold text-6xl">32</h1>
      <div>
        <span class="iconify h-20 w-20 p-0 m-0 text-white" data-icon="file-icons:electron"></span>
      </div>
      <h3 class="text-white font-semibold gradient-text">Publications</h3>
    </div>
    <div class="flex flex-col items-center justify-around">
      <h1 class="gradient-text font-bold text-6xl">47</h1>
      <div>
        <span class="iconify h-20 w-20 p-0 m-0 text-white" data-icon="clarity:employee-group-line"></span>
      </div>
      <h3 class="text-white font-semibold gradient-text">Internships </h3>
    </div>
  </div>

  <div class="w-2/3 mx-auto text-center">
    <h2 class="text-primary font-bold m-0">Featured</h2>
    <h3 class="font-semibold m-0">Check out our latest projects</h3>

    <div class="flex flex-col items-center justify-around gap-20 my-20 rounded">

      <div class="w-4/5 bg-body border-[1px] shadow-md grid grid-cols-2 text-left rounded-lg">
        <div class="p-10 pb-10">
          <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dolores.</h4>
          <div class="">
            <small class="px-2 py-1 bg-slate-200 text-text-75">Arduino</small>
            <small class="px-2 py-1 bg-slate-200 text-text-75">Python</small>
          </div>
          <div class="mt-10">
            <a href="" class="py-3 px-6 gradient-text-box shadow-md text-white rounded-full">
              View Project
              <span class="iconify ml-1 mb-1 inline w-5 h-5" data-icon="charm:arrow-right"></span>
            </a>
          </div>

        </div>
        <div>
          <img src="{% static 'images/about-banner.jpg' %}" alt="" class="h-full w-auto rounded">
        </div>
      </div>

      <div class="w-4/5 bg-body border-[1px] shadow-md grid grid-cols-2 text-left rounded-lg">
        <div class="p-10 pb-10">
          <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dolores.</h4>
          <div class="">
            <small class="px-2 py-1 bg-slate-200 text-text-75">Arduino</small>
            <small class="px-2 py-1 bg-slate-200 text-text-75">Python</small>
          </div>
          <div class="mt-10">
            <a href="" class="py-3 px-6 gradient-text-box shadow-md text-white rounded-full">
              View Project
              <span class="iconify ml-1 mb-1 inline w-5 h-5" data-icon="charm:arrow-right"></span>
            </a>
          </div>

        </div>
        <div>
          <img src="{% static 'images/about-banner.jpg' %}" alt="" class="h-full w-auto rounded">
        </div>
      </div>


    </div>

  </div>
</section>


<section class="py-10 bg-body">


  <div class="w-2/3 mx-auto text-center">
    <h2 class="text-primary font-bold m-0">Recents</h2>
    <h3 class="font-semibold m-0">Check out the latest events we conducted</h3>

    <div class="flex flex-col items-start justify-around gap-10 my-20 rounded">

      <div class="flex flex-col items-center justify-center gap-20 w-4/5 mx-auto">
        <img src="{% static 'images/event2.png' %}" alt="" class="h-[500px] w-full rounded hover:scale-[1.02] ease-in duration-200 cursor-pointer hover:shadow-md hover:shadow-secondary">
        <img src="{% static 'images/event3.png' %}" alt="" class="h-[500px] w-full rounded hover:scale-[1.02] ease-in duration-200 cursor-pointer hover:shadow-md hover:shadow-secondary">
      </div>
      
    </div>



  </div>

  </div>
</section>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
  particlesJS("particles-js",
    {
      "particles": {
        "number": {
          "value": 16,
          "density": {
            "enable": true,
            "value_area": 800
          }
        },
        "color": {
          "value": "#44323E"
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#44323E"
          },
          "polygon": {
            "nb_sides": 5
          },
          "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
          }
        },
        "opacity": {
          "value": 0.5,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 3,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 40,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": true,
          "distance": 150,
          "color": "#44323E",
          "opacity": 0.4,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 4,
          "direction": "none",
          "random": false,
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": true,
            "mode": "repulse"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 400,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 20,
            "duration": 0.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": true
    }
  )
</script>

{% endblock content %}