{% extends "_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<section class="py-[4%] bg-home">
    <div class="w-2/3 mx-auto grid grid-cols-2 gap-32">
        {% image page.banner original as banner %}
        <div class="h-[300px] flex justify-center">
            <img src="{{ banner.url }}" alt="" class="w-auto h-full rounded-md">
        </div>
        <div class="w-full px-10 md:px-0 mx-auto">
            <h1 class="text-secondary font-semibold">{{ page.title }}</h1>
            <p class="w-full text-secondary">{{ page.intro }}</p>
            <div class="flex flex-wrap justify-start gap-2 items-center mb-5">
                <small class="px-2 py-1 bg-secondary text-white rounded">{{ page.status }}</small>
                {% for tag in page.tags.all %}
                <small class="px-2 py-1 bg-slate-200 text-text-75 rounded">{{ tag }}</small>
                {% endfor %}
            </div>
        </div>
    </div>

</section>
<section class="pt-5 bg-body-2 pb-20">

    <div class="grid grid-cols-5 mt-10 w-2/3 mx-auto gap-10">
        <div class="bg-white p-10 shadow-md rounded w-full col-span-4">

            <div class="rich-text">
                {{ page.description|richtext }}
            </div>

        </div>

        <aside class="bg-white p-5 shadow-md rounded h-fit">
            <h3 class="mt-0 mb-3">Contributors</h3>
                {% for contrib in page.contributors.all %}
                <div>
                    <a href="{{ contrib.contributor.linkedin_link }}" class="flex items-center justify-start gap-2 text-blue-500 hover:underline">
                        <span class="iconify" data-icon="dashicons:arrow-right"></span>{{ contrib.contributor.name }}</a>
                </div>

                {% endfor %}
            </ul>

        </aside>

    </div>
</section>

{% endblock %}
