{% extends "_base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<!-- <section class="h-[70vh] text-left gradient-image relative">
    <h1 class="text-[20rem] text-[#FFF] opacity-5 absolute bottom-100 z-0 left-30 select-none">{{ page.title }}</h1>
    <div class="w-2/3 mx-auto flex flex-col items-start justify-center pt-40 h-full z-10">
        <h2 class="text-white w-2/3">{{ page.intro }}</h2>
    </div>
</section> -->
{% include "_snippets/_intro_section.html" %}

<section class="py-10">
    <div class="w-2/3 mx-auto">
        <div class="rich-text">
            {{ page.information|richtext }}
        </div>
    </div>
</section>

<section class="py-10 bg-body-2" id="research-content">
    <div class="w-2/3 mx-auto p-10" x-data="{ selected: 'publications' }">
        <div class="grid grid-cols-2 text-center">
            <h3 class="p-5 m-0 bg-body rounded cursor-pointer flex justify-center items-center gap-10 text-2xl w-full"
                x-on:click="selected = 'publications'"
                x-bind:class="{ 'gradient-text-box text-white': selected === 'publications' }">
                <span class="iconify h-20 w-20 " x-bind:class="{ 'text-white': selected === 'publications' }"
                    data-icon="clarity:certificate-solid"></span>Publications
            </h3>
            <h3 class="p-5 m-0 bg-body rounded cursor-pointer flex justify-center items-center gap-10 text-2xl w-full"
                x-on:click="selected = 'patents'"
                x-bind:class="{ 'gradient-text-box text-white': selected === 'patents' }">
                <span class="iconify h-20 w-20 " x-bind:class="{ 'text-white': selected === 'patents' }"
                    data-icon="clarity:certificate-solid"></span>Patents
            </h3>
        </div>


        <div class="mt-20">
            <!-- PUBLICATIONS -->
            <div class="text-left rounded-lg flex flex-col items-start justify-start gap-10"
                x-show="selected === 'publications'" x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100">

                <div class="flex justifyp-center items-center gap-10">
                    <select class="py-2 px-4 mr-5 bg-text-100 text-white text-xl rounded" name="publication_category"
                        hx-get="/research" hx-target="#publications" hx-indicator=".htmx-indicator">
                        <option selected disabled>Publication Type</option>
                        <option value="all">All Publications</option>
                        <option value="journal">Journal</option>
                        <option value="conference">Conference</option>
                    </select>

                    <select class="py-2 px-4 mr-5 bg-text-100 text-white text-xl rounded" name="publication_year" hx-get="/research"
                        hx-target="#publications" hx-indicator=".htmx-indicator">
                        <option selected disabled>Year Published</option>
                        {% for date in pub_dates %}
                        <option value="{{year.date.year}}">{{date.year}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="publications" class="w-full">

                    {% include "research/_partials/publications.html" %}
                </div>



            </div>


            <!-- PATENTS -->

            {% include "research/_partials/patents.html" %}

        </div>
    </div>
</section>


{% endblock %}
