@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Roboto:wght@400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 100%;
}

/*16px*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

.rich-text ul {
    list-style: inherit;
}

.rich-text ol {
    list-style: decimal;
}

.rich-text ul,
.rich-text ol {
    margin: 2rem;
}


.rich-text img {
    margin: 50px 0;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {

    font-size: 16px;
    font-weight: 500;
    color: rgba(52, 44, 47);
}

.rich-text a {
    color: #4778ff;
}

p,
label,
ul,
ol {
    margin-bottom: 1rem;
    font-size: 18px;
    color: rgba(52, 44, 47, 0.75);
    font-weight: 400;
}

li {
    margin: 1rem 0;
}

label .asteriskField {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    /* font-family: 'Abyssinica SIL', serif; */
    margin: 1rem 0 1.38rem;
    line-height: 1.3;
    color: #3B3232;
    font-weight: 500;
}

h1 {
    margin-top: 0;
    font-size: 2.488rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

small,
.text_small {
    font-size: 0.833rem;
    font-weight: 500;
    color: #858585;
}


/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg) translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Hamburger menu ends */

a.underline-hover-effect {
    text-decoration: none;
    margin-top: 0.5rem;
    font-size: 14px;
}

.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    /* defines the space between text and underline */
    position: relative;
}

.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #F25E3D;
    transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before {
    width: 100%;
}

.gradient-text {
    background: linear-gradient(90deg, #FF6C6C 0%, #A095E0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gradient-text-box {
    background: linear-gradient(180deg, #483637 0%, #4A3234 0.01%, #3D3250 100%);
}

.gradient-box {
    background: linear-gradient(180deg, #483637 0%, #4A3234 0.01%, #3D3250 100%);
    box-shadow: 0px 4px 4px rgba(112, 48, 91, 0.25);
}

.gradient-image {
    background: -moz-linear-gradient(to left, rgb(32, 32, 32, 0) 20%, rgb(32, 32, 32) 40%), url('../images/bg-projects.jpg');
}

.stat-card {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    h1 {
        margin-top: 0;
        font-size: 3.052rem;
    }

    h2 {
        font-size: 2.441rem;
    }

    h3 {
        font-size: 1.953rem;
        font-weight: 400;
    }

    h4 {
        font-size: 1.563rem;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: 400;
    }

    small {
        font-size: 0.8rem;
    }
}

.custom-form label {
    font-size: 16px;
    padding: 5px;
}

.custom-form small {
    padding: 5px;
}

.custom-form input {
    border: 1px rgb(218, 218, 218) solid;
    outline: none;
    color: #916d6d;
    font-weight: 500;
    margin: 0;
    background: #fafafa;
    border-radius: 2px;
}

.custom-form input:focus {
    border: 2px #A095E0 solid;
}


.custom-form textarea:focus {
    border: 2px #A095E0 solid;
}

.custom-form textarea {
    background: #fafafa;
    border-radius: 2px;
    outline: none;
    resize: none;
    border: 1px rgb(218, 218, 218) solid;
    padding: 20px;
    color: #916d6d;
    font-weight: 500;
}



.custom-form p strong {
    color: red;
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}

.bg-home {
    /* background: url("../images/cool-background.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2529%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2530)'%3e%3c/rect%3e%3cpath d='M198.32 -37.14L263.27 0.36L263.27 75.36L198.32 112.86L133.36 75.36L133.36 0.36zM198.32 412.86L263.27 450.36L263.27 525.36L198.32 562.86L133.36 525.36L133.36 450.36zM328.23 412.86L393.18 450.36L393.18 525.36L328.23 562.86L263.27 525.36L263.27 450.36zM652.99 300.36L717.95 337.86L717.95 412.86L652.99 450.36L588.04 412.86L588.04 337.86zM588.04 412.86L652.99 450.36L652.99 525.36L588.04 562.86L523.09 525.36L523.09 450.36zM652.99 525.36L717.95 562.86L717.95 637.86L652.99 675.36L588.04 637.86L588.04 562.86zM977.76 -37.14L1042.72 0.36L1042.72 75.36L977.76 112.86L912.81 75.36L912.81 0.36zM1042.72 300.36L1107.67 337.86L1107.67 412.86L1042.72 450.36L977.76 412.86L977.76 337.86zM1042.72 525.36L1107.67 562.86L1107.67 637.86L1042.72 675.36L977.76 637.86L977.76 562.86zM1107.67 -37.14L1172.62 0.36L1172.62 75.36L1107.67 112.86L1042.72 75.36L1042.72 0.36zM1107.67 187.86L1172.62 225.36L1172.62 300.36L1107.67 337.86L1042.72 300.36L1042.72 225.36zM1367.49 412.86L1432.44 450.36L1432.44 525.36L1367.49 562.86L1302.53 525.36L1302.53 450.36z' stroke='rgba(202%2c 135%2c 135%2c 0.19)' stroke-width='2'%3e%3c/path%3e%3cpath d='M190.82 -37.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM255.77 0.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM255.77 75.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM190.82 112.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM125.86 75.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM125.86 0.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM190.82 412.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM255.77 450.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM255.77 525.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM190.82 562.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM125.86 525.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM125.86 450.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM320.73 412.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM385.68 450.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM385.68 525.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM320.73 562.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM645.49 300.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM710.45 337.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM710.45 412.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM645.49 450.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM580.54 412.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM580.54 337.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM645.49 525.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM580.54 562.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM515.59 525.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM515.59 450.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM710.45 562.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM710.45 637.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM645.49 675.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM580.54 637.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.26 -37.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.22 0.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.22 75.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.26 112.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM905.31 75.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM905.31 0.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.22 300.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.17 337.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.17 412.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.22 450.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.26 412.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.26 337.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.22 525.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.17 562.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.17 637.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.22 675.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.26 637.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.26 562.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.17 -37.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.12 0.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.12 75.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.17 112.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.17 187.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.12 225.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.12 300.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.22 225.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1359.99 412.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1424.94 450.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1424.94 525.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1359.99 562.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1295.03 525.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1295.03 450.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(202%2c 135%2c 135%2c 0.19)'%3e%3c/path%3e%3cpath d='M48.76 38.96L92.06 63.96L92.06 113.96L48.76 138.96L5.46 113.96L5.46 63.96zM48.76 488.96L92.06 513.96L92.06 563.96L48.76 588.96L5.46 563.96L5.46 513.96zM135.37 188.96L178.67 213.96L178.67 263.96L135.37 288.96L92.06 263.96L92.06 213.96zM178.67 263.96L221.97 288.96L221.97 338.96L178.67 363.96L135.37 338.96L135.37 288.96zM178.67 413.96L221.97 438.96L221.97 488.96L178.67 513.96L135.37 488.96L135.37 438.96zM221.97 488.96L265.27 513.96L265.27 563.96L221.97 588.96L178.67 563.96L178.67 513.96zM265.27 263.96L308.58 288.96L308.58 338.96L265.27 363.96L221.97 338.96L221.97 288.96zM351.88 -36.04L395.18 -11.04L395.18 38.96L351.88 63.96L308.58 38.96L308.58 -11.04zM351.88 413.96L395.18 438.96L395.18 488.96L351.88 513.96L308.58 488.96L308.58 438.96zM438.49 113.96L481.79 138.96L481.79 188.96L438.49 213.96L395.18 188.96L395.18 138.96zM568.39 38.96L611.7 63.96L611.7 113.96L568.39 138.96L525.09 113.96L525.09 63.96zM525.09 113.96L568.39 138.96L568.39 188.96L525.09 213.96L481.79 188.96L481.79 138.96zM568.39 188.96L611.7 213.96L611.7 263.96L568.39 288.96L525.09 263.96L525.09 213.96zM525.09 413.96L568.39 438.96L568.39 488.96L525.09 513.96L481.79 488.96L481.79 438.96zM611.7 413.96L655 438.96L655 488.96L611.7 513.96L568.39 488.96L568.39 438.96zM655 488.96L698.3 513.96L698.3 563.96L655 588.96L611.7 563.96L611.7 513.96zM741.6 188.96L784.91 213.96L784.91 263.96L741.6 288.96L698.3 263.96L698.3 213.96zM828.21 188.96L871.51 213.96L871.51 263.96L828.21 288.96L784.91 263.96L784.91 213.96zM871.51 113.96L914.81 138.96L914.81 188.96L871.51 213.96L828.21 188.96L828.21 138.96zM958.12 113.96L1001.42 138.96L1001.42 188.96L958.12 213.96L914.81 188.96L914.81 138.96zM1001.42 188.96L1044.72 213.96L1044.72 263.96L1001.42 288.96L958.12 263.96L958.12 213.96zM958.12 413.96L1001.42 438.96L1001.42 488.96L958.12 513.96L914.81 488.96L914.81 438.96zM1088.02 188.96L1131.33 213.96L1131.33 263.96L1088.02 288.96L1044.72 263.96L1044.72 213.96zM1088.02 338.96L1131.33 363.96L1131.33 413.96L1088.02 438.96L1044.72 413.96L1044.72 363.96zM1131.33 413.96L1174.63 438.96L1174.63 488.96L1131.33 513.96L1088.02 488.96L1088.02 438.96zM1261.23 338.96L1304.54 363.96L1304.54 413.96L1261.23 438.96L1217.93 413.96L1217.93 363.96zM1304.54 413.96L1347.84 438.96L1347.84 488.96L1304.54 513.96L1261.23 488.96L1261.23 438.96zM1347.84 488.96L1391.14 513.96L1391.14 563.96L1347.84 588.96L1304.54 563.96L1304.54 513.96zM1434.44 38.96L1477.75 63.96L1477.75 113.96L1434.44 138.96L1391.14 113.96L1391.14 63.96z' stroke='rgba(255%2c 255%2c 255%2c 0.14)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2529'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2530'%3e%3cstop stop-color='rgba(90%2c 44%2c 128%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(179%2c 34%2c 41%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.news-card {
    box-shadow: 6px 6px 4px rgba(255, 255, 255, 0.31);
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(255, 110, 110);
}

.bg-page {
    background: linear-gradient(-20deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/cool-bg.png");
    /* background-image: linear-gradient(-20deg, rgba(183, 33, 255, 0.9), rgba(33, 212, 253, 0.9)), url("../images/bg-projects.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
  }