{% extends "_base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
{% include "_snippets/_intro_section.html" %}

<section class="w-2/3 mx-auto py-20" x-data="{ year: '' }">
  <select class="py-2 px-4 mr-5 bg-text-100 text-white text-xl rounded" name="event_year" x-on:change="year = $el.value">
    <option selected disabled>Year Conducted</option>
    <option value="">All Years</option>
    {% for timestamp in event_timestamps %}
    <option value="{{timestamp.start_timestamp.date.year}}" x-on:click="year = '{{timestamp.start_timestamp.date.year}}'">{{timestamp.start_timestamp.date.year}}</option>
    {% endfor %}
  </select>

  <div class="grid grid-cols-3 gap-10 my-20 rounded ">
    {% for event in eventpages %}
    <div class="text-left" x-transition:enter="transition ease-out duration-300"
      x-show="year === '{{ event.specific.start_timestamp.date.year }}' || year === ''" x-transition:enter-start="opacity-0 scale-90"
      x-transition:enter-end="opacity-100 scale-100">
      <div class="">
        {% image event.specific.banner original as banner %}
        <div class="h-[265px]">
          <a href="{% pageurl event %}">
            <img src="{{ banner.url }}" alt="" class="h-full w-full border-[1px] rounded border-[#b9b9b9]">
          </a>
        </div>

        <div class="">
          <h4 class="font-normal">{{ event.title }}</h4>
          <div class="my-5">
            <small class="px-2 py-1 bg-slate-200 text-text-75 uppercase">{{ event.specific.get_status }}</small>
          </div>
          <small>{{ event.specific.intro }}</small>




          <div class="mt-5">
            <a href="{% pageurl event %}" class="text-blue-400 rounded-full">
              View Event
              <span class="iconify ml-1 mb-1 inline w-5 h-5" data-icon="charm:arrow-right"></span>
            </a>
          </div>

        </div>

      </div>

    </div>


    {% endfor %}
  </div>


</section>

{% endblock %}