{% extends "_base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<section class="h-[50vh] bg-darkBg flex flex-col justify-start items-start pt-[7%]">
    <div class="w-2/3 mx-auto">
        <h4 class="gradient-text font-bold">{{ page.title }}</h4>
        <h1 class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, tenetur!</h1>
    </div>
</section>

<section class="w-2/3 mx-auto py-20" x-data="{ year: '' }">
    <!-- <select class="py-2 px-4 bg-secondary text-white text-xl" name="event_year" x-on:change="year = $el.value">
        <option selected disabled>Year Published</option>
        <option value="">All Years</option>
        {% for year in event_years %}
        <option value="{{year.date.year}}" x-on:click="year = '{{year.date.year}}'">{{year.date.year}}</option>
        {% endfor %}
    </select> -->

    {% for event in eventpages %}

    <div class="text-left" x-show="year === '{{ event.specific.date.year }}' || year === ''"
        x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90"
        x-transition:enter-end="opacity-100 scale-100">
        <div class="flex items-center justify-start gap-2">
            <h3>{{ event.title }}</h3>
        </div>

        <div class="gradient-box shadow-md rounded-md grid grid-cols-3">
            <div class="p-10 col-span-2 flex flex-col items-start justify-center">
                <small class="text-white">{{ event.specific.date }}</small>
                <p class="mt-5 text-white">
                    <b>Status</b>: {{ event.specific.status }}
                </p>
                <p class="richtext text-white">
                    {{ event.specific.intro | truncatewords:20 }}
                </p>

                <div class="mt-5">
                    <a href="{% pageurl event %}" class="py-3 px-6 gradient-text-box text-white rounded">
                        More Details
                        <span class="iconify ml-1 mb-1 inline w-5 h-5" data-icon="charm:arrow-right"></span>
                    </a>
                </div>
            </div>
            {% image event.specific.banner original as banner %}
            <div class="">
                <img src="{{ banner.url }}" alt="" class="h-full w-auto rounded">
            </div>
        </div>

    </div>
    {% endfor %}

</section>

{% endblock %}