{% extends "_base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
{% include "_snippets/_intro_section.html" %}


<section class="bg-body-2">
    <div class="md:w-2/3 mx-auto py-20">
        
        {% for news in news_posts %}
        <div class="bg-body p-5 shadow-md rounded">
            <a href="#{{ news.slug }}">
            <h3 id="{{ news.slug }}" class="mb-0 text-secondary hover:underline"># {{ news.title }}</h3>
        </a>
            <p class="my-5"><small>{{ news.specific.posted_at }}</small></p>
            <div class="rich-text">
                {{ news.specific.body|richtext }}
            </div>
        </div>
        {% endfor %}
    </div>

</section>


{% endblock %}