{% load static %}
{% load wagtailsettings_tags %}
{% get_settings %}
<footer class="bg-primary pt-20 pb-2">
    <div class="w-4/5 mx-auto grid grid-cols-1 lg:grid-cols-3 gap-20 lg:gap-40 justify-items-center">
        <div class="ml-[-20px] flex justify-center items-center">
            <img class="w-80 h-auto" src="{% static 'images/pes_logo_white.png' %}" alt="">
        </div>
        <div class="col-span-1 flex flex-col justify-start items-center lg:items-start">
            <h3 class="font-bold text-white">Get in touch with us</h3>
            <p class="text-gray-400 text-center lg:text-left">Together, let's shape the future of robotics and automation.</p>
            <div class="flex justify-center lg:justify-start items-center gap-2">
                <iconify-icon class="text-white text-5xl" icon="mdi:email-edit"></iconify-icon>
                <h6 class="my-5 text-white font-bold border-b-4 border-secondary">{{ settings.base.ContactGlobalSettings.email }}</h6>
            </div>
        </div>
        <div class="col-span-1 flex flex-col justify-start items-center lg:items-start">
            <h3 class="font-bold text-white">Location</h3>
            <p class="text-gray-400 ">Come meet us.</p>
            <div class="flex justify-center lg:justify-start items-center gap-2">
                <iconify-icon class="text-white text-5xl" icon="mdi:locations"></iconify-icon>
                <h6 class="p-0 text-white font-medium whitespace-pre-line w-3/5">{{ settings.base.ContactGlobalSettings.address }}</h6>
            </div>
            <div class="my-10">
                <a href="#" class="rounded px-4 py-2 bg-background-light-blue text-primary">Contact Form -></a>
            </div>
        </div>
    </div>
    <div class="w-4/5 mx-auto">

        <div class="text-center">
            <div class="flex justify-center items-center gap-2">
                <iconify-icon class="text-white text-4xl" icon="mdi:linkedin"></iconify-icon>
                <iconify-icon class="text-white text-4xl" icon="ri:instagram-fill"></iconify-icon>
            </div>
            <p class="mt-2 text-white">&copy; 2023 By CRAIS, PES University</p>
        </div>
    </div>
</footer>
