{% load static %}
{% load wagtailcore_tags %}
<!-- Navbar -->
<header class="bg-background-light">
    <nav class="mx-auto text-text-75 w-full">
        <!-- Flex container -->
        <div class="flex items-center justify-between py-5 w-4/5 mx-auto">
            <!-- Logo -->
            <div class="pt-2 md:flex justify-around items-center gap-10">
                <a href="https://pes.edu" class="text-2xl ">
                    <img class="h-[65px] w-auto" src="{% static 'images/pes.png' %}" alt=""/>
                    <!-- LOGO -->
                </a>
                <a href="{% slugurl 'home' %}" class="text-2xl ">
                    <img class="h-[40px] w-auto" src="{% static 'images/logo.png' %}" alt=""/>
                    <!-- LOGO -->
                </a>
            </div>
            <div class="hidden pt-2 lg:flex justify-around items-center gap-10">
                <a href="{% slugurl 'about' %}" class="underline-hover-effect font-bold text-primary">About Us</a>
                <a href="{% slugurl 'team' %}" class="underline-hover-effect text-primary font-bold">Team</a>
                <div x-data="{ open: false }" class="" @mouseleave="open = false">
                    <button @mouseover="open = true"
                            class="underline-hover-effect font-bold flex justify-center items-center gap-[2px] text-primary">
                        Research
                        <iconify-icon class="text-primary text-lg duration-100 ease-in" icon="mingcute:down-line"
                                      x-bind:class="{'rotate-180': open}"></iconify-icon>
                    </button>
                    <div x-show="open" class="absolute">
                        <ul class="flex flex-col justify-start items-start gap-2 mt-2 bg-primary p-5 rounded shadow-sm shadow-gray-300">
                            {#                            <a href="#" class="underline-hover-effect font-bold text-white">Our Research</a>#}
                            <a href="{% url 'publications-list' %}"
                               class="underline-hover-effect font-bold text-white">Publications</a>
                            <a href="{% url 'patents-list' %}" class="underline-hover-effect font-bold text-white">Patents</a>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- Menu Items -->
            <div class="hidden pt-2 lg:flex justify-around items-center gap-10">
                <a href="{% slugurl 'news' %}" class="underline-hover-effect text-primary font-bold">News</a>
                <a href="{% slugurl 'projects' %}" class="underline-hover-effect text-primary font-bold">Projects</a>
                <a href="{% slugurl 'courses' %}" class="underline-hover-effect text-primary font-bold">Courses</a>
                {#                <a href="{% slugurl 'events' %}" class="underline-hover-effect text-primary font-bold">Events</a>#}
                {#                <a href="{% slugurl 'contact-us' %}" class="underline-hover-effect text-primary font-bold">Contact</a>#}
            </div>
            <!-- Hamburger Icon -->
            <button id="menu-btn"
                    class="hamburger lg:hidden focus:outline-none flex flex-col items-center justify-around z-10 text-white lg:text-black rounded-full">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
        </div>

        <!-- Mobile Menu -->
        <div class="lg:hidden z-0">
            <div id="menu" class="z-0">
                <a href="{% slugurl 'home' %}" class="">Home</a>
                <a href="{% slugurl 'about' %}" class="">About Us</a>
                <a href="{% url 'publications-list' %}" class="">Publications</a>
                <a href="{% url 'patents-list' %}" class="">Patents</a>
                <a href="{% slugurl 'news' %}" class="">News</a>
                <a href="{% slugurl 'projects' %}" class="">Projects</a>
                <a href="{% slugurl 'courses' %}" class="">Courses</a>
            </div>
        </div>

    </nav>
</header>

<script>
    const btn = document.getElementById('menu-btn')
    const nav = document.getElementById('menu')

    btn.addEventListener('click', () => {
        btn.classList.toggle('open')
        btn.classList.toggle("text-white")
        nav.classList.toggle('active')
    })

</script>
